---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <main>
            <Header/>
            <div class="not-found-container">
                <h1 class="not-found-header">404: Page Not Found</h1>
                <hr/>
                <div class="not-found-subheading">
                    <p>The page you were looking for does not exist...</p>
                    <a href="/" class="button-styles" style="padding-left: 5px; padding-right: 5px;">Home</a>
                </div>
            </div>
        </main>        
    </body>
</html>

<style>
    .not-found-header {
        margin-top: 37px;
        font-size: 60px;
    }

    .not-found-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .not-found-subheading {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    hr {
        width: 80%;
        border: none;
        border-top: 1px solid black;
        margin: 20px 0; 
    }
</style>