---
import { getCollection } from 'astro:content';

interface Props {
    fn: string;
    text: string;
    size: string;
}

const { fn, text, size } = Astro.props
---

<button onclick={ fn } style=`font-size: ${ size }px` class="button-styles">
    { text }
</button>

