---
---

<script type="text/javascript">
    window.onload = function() {
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            event.preventDefault();

            emailjs.sendForm('service_30x8d8g', 'template_6k6gsoq', this)
                .then(() => {
                    console.log('SUCCESS!');
                    alert("Thank you for your response!");
                }, (error) => {
                    console.log('FAILED...', error);
                    alert("ERROR")
                });
        });
    }
</script>

<form id="contact-form">
    <input type="text" name="full_name" required placeholder="Full Name">
    <input type="email" name="email" required placeholder="Email">
    <textarea name="message" required placeholder="Your Message..."></textarea>
    <input type="submit" value="Send" id="sub" class="button-styles">
</form>

<style>
    input, textarea {
        border: 1px solid black;
        color: black;
        background-color: #F5F5F5;
        width: 356px;
        margin: 4px;
        padding: 2px;
    }

    textarea {
        height: 200px;
        padding: 2px;
    }

    input::placeholder, textarea::placeholder {
        font-family: 'Verdana';
        color: black;
        opacity: 1;
    }

    #sub {
        width: 109px;
        cursor: pointer;
    }
    #contact-form {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 720px) {
        input, textarea {
            width: 300px;
        }
    }
</style>