---
import HeaderLink from './HeaderLink.astro';
---

<ul class="submenu">
    <li><HeaderLink href="/blog/media" class="header-link">Media</HeaderLink></li>
    <li><HeaderLink href="/blog/sports" class="header-link">Sports</HeaderLink></li>
    <li><HeaderLink href="/blog/videogames" class="header-link">Videogames</HeaderLink></li>
    <li><HeaderLink href="/blog/computing" class="header-link">Computing</HeaderLink></li>
    <li><HeaderLink href="/blog/life" class="header-link">Life</HeaderLink></li>
</ul>